<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>列表渲染- 渲染对象</title>
    <script src="../vue.js"></script>
  </head>

  <body>
    <div id="app">
      <!-- 遍历数组内对象， 值 - 名 - 下标 -->
      <template v-for="(item,  index) of list">
        <div>{{item}} ---- {{index}}</div>
      </template>

      <template v-for="(item, key, index) of userInfor">
        <div>{{item}} --{{key}}-- {{index}}</div>
      </template>
    </div>

    <script>
      var vm = new Vue({
        el: "#app",
        data: {
          list: [1, 2, 3],
          userInfor: {
            name: "dell",
            age: 20,
            gender: "male",
            salary: "secret",
          },
        },
      });

      //   前为索引下标， 后为所要修改的数据
      Vue.set(vm.list, 0, 22);
      vm.$set(vm.list, 1, 5);

      Vue.set(vm.userInfor, "北京", "address");
      vm.$set(vm.userInfor, "韩绝", "姓名");
    </script>
  </body>
</html>
