<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>动态组件和v-once</title>
    <script src="../vue.js"></script>
  </head>
  <body>
    <div id="app">
      <component :is="type"></component>
      <!-- <child-one v-if="type ==='child-one'"></child-one>
      <child-two v-if="type ==='child-two'"></child-two> -->
      <button @click="handleBtnClick">change</button>
    </div>

    <script>
      // 在模板标签中， 加上v-once 表示只渲染依次，并存在于缓存中
      Vue.component("child-one", {
        template: "<div v-once> child-one </div>",
      });

      Vue.component("child-two", {
        template: "<div v-once> child-two </div>",
      });

      var vm = new Vue({
        el: "#app",
        data: {
          type: "child-one",
        },
        methods: {
          handleBtnClick: function () {
            this.type = this.type === "child-one" ? "child-two" : "child-one";
          },
        },
      });
    </script>
  </body>
</html>
